/* .App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: lightblue;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #337ab7;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
   */