* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  
.body-login {
    font-family: Georgia, serif;
    color: white;
    font-weight: 300;
    background: linear-gradient(300deg, #00bfff, rgb(252, 252, 252), rgb(255, 255, 255));
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .container {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
  }
  
  .container h1 {
    font-size: 40px;
    font-weight: 200;
  }
  
  .form {
    padding: 20px 0;
    position: relative;
    width: 400px;
  }
  form input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
  }
  
  form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }
  .googleimage {
    height: 35px;
    width: 35px;
    text-align: left;
  }
  .googlebutton {
    width: 100px;
    height: 55px;
    border-radius: 10px;
    /* padding-top: ; */
  }
  .sideimage {

    position: relative;

    width: 100%;
  }
  .login {

    position: relative;

    width: 400px;
    height: 150px;
  }

  .maindiv {
    position: absolute;
    align-content: center;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;


  }
  
  .Meher {
    width: 500px;

    text-align: right;
  }
  .signin {
    color: rgb(16, 23, 26);
  }
  .table {
    position: absolute;
    background-color: lightgray;
    margin-left: 18%;
    text-align: center;
  }
  .heading {
    color: black;

    width: 1000px;
    margin-left: 250px;
    text-align: center;

  }